body {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  h1 {
    font-family: "vdl-logojrblack", sans-serif;
    font-weight: 900;
    font-size: 300%;
    font-style: bold;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px #000;
  }
  h2 {
    font-family: "vdl-logojrblack", sans-serif;
    font-weight: 900;
    font-size: 200%;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px #000;
  }
  ol, li {
    font-family: "monospace", sans-serif;
    font-weight: 900;
    font-size: 100%;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px #000;
  }
  main {
    position: relative;
    height: 100vh;
    background-size: cover;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .back {
    z-index: 1;
  }
  #myvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
  }
  #myGifContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none;
    animation: play-once 1s steps(1) forwards;
  }
  .type-mask, .myGifContainer {
    z-index: 2;
  }
  #mask-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button {
    z-index: 3;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn {
    padding: 0.9em 4em;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'monospace';
    font-size: larger;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

.btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .btn:active {
    color: #000;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:hover:before {
    opacity: 1;
  }
  
  .btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  div.top {
    z-index: 3;
    padding: 1.5em 4em;
    margin: 5%;
  }
  div#content {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 10% 10em;
  }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 150%;
  }
  ol, li {
    font-size: 100%;
  }
  div#content {
    padding: 10% 5em;
  }
  img#backgroundImage {
    width: 30%;
  }
}